<!doctype html>
<html lang="en">
  <head>
    <link rel="stylesheet" type="text/css" href="simple-grid.css">
    <link rel="stylesheet" type="text/css" href="pwg.css">
    <link rel="shortcut icon" href="apple-touch-icon.png" type="image/png">
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=9">
    <meta http-equiv="X-Frame-Options" content="DENY">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{page.title}} - IPP Sample Implementations</title>
    <meta name="keywords" content="printing,internet printing protocol,ipp,ipp everywhere">
  </head>
  <body>
    <div class="nav">
      <ul>
        <li><a href="http://www.pwg.org/">ISTO-PWG</a></li>
        <li><a href="http://istopwg.github.io/">Projects</a></li>
        <li><a href="index.html">ippsample</a></li>
      </ul>
    </div>
    {{ content }}
    <div class="foot">
      <div class="container">
	<div class="row">
	  <div class="col-12">
	    <p>Copyright &copy; 2014-2016 by The Printer Working Group and copyright &copy; 2007-2016 by Apple Inc.</p>
	  </div>
	</div>
      </div>
    </div>
  </body>
</html>
